@import "bootstrap.less";

// Theme customizations
@import url('https://fonts.googleapis.com/css?family=Abel|Cuprum');

h5 {
  font-family: "Abel";
}

html > body {
  background-color: white;
}

#grid {
    .core  {
        .span(@gridColumns) {
            width: (@gridColumnWidth * @gridColumns) + (@gridGutterWidth * (@gridColumns - 1));
        }
    }
};



#header-region {
  .navbar {
    .divider-vertical {
      display: none;
    }
    

    
    #logo {
      float: none !important;
      /* background-image: url("http://numismatics.org/wp-content/uploads/ANS_Header.png"); */
      z-index: 100;
      background: transparent url("../../../images/numismatic.png") no-repeat scroll 18px 28px;
      background-color: white;
      margin-bottom: 0px;
      height: 127px;
      margin-left: -40px;
      margin-right: -40px;
      border-bottom: 1px solid #E5E5E5;
      width: inherit;
    }
    
    #carticon, .icon-list, .caret {
      display: none;
    }
    
    &.navbar-inverse {
      .navbar-inner {
        background-color: #F9F9F9;
        background-image: none;
        border-bottom: 1px solid #e5e5e5;
        color: #535E70;
        box-shadow: none;
      }
      
      #members a {
        color: #535e70;;
        font-weight: normal;
      }
      
      #members li p {
        padding: 18px 10px 20px;
        font: normal 15px/20px Cuprum;
        color: #535E70;
        text-shadow: none;
        a {
          font: inherit;
          & .loggedinusername {
            color: @linkColor;
          }
          
        }
      }
      
      .nav > li > a {
        padding: 18px 31px 20px;
        font: normal 17px/20px Cuprum;
        color: #535E70;
        text-shadow: none;
        &:hover,
        &:focus {
          background: #CFDEFF;
          color: #535E70;
        
        }
      }
      
      .nav li.dropdown.open>.dropdown-toggle {
        background: #CFDEFF;
        color: #535E70;
      }
      
      .dropdown-menu{
        height: auto !important;
        background: #fff;
        top: 60px;
        left: 50%;
        min-width: 175px;
        padding: 20px;
        margin: 0 0 0 -87px;
        border: none;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 10000;
        border: 1px solid #e5e5e5;
        
        & a:visited {
          color: @primaryColor;
        }
        
        & a:hover {
          color: @linkColor;
        }
        
        &:before, &:after {
          display: none;
        }
        
        &>li>a:hover {
          background: inherit;
        }
      }
    }
  }
}

html #wrap:extend(.container all) {
  border-top: 5px solid #2C323C;
  width: 1210px;
  box-shadow: 0 0 7px rgba(0,0,0,0.15);
  background-color: white;
  position: relative;
}

a {
  &:visited {
    color: @linkColor;
  } 
      
  &, &:hover, &:hover:visited  {
    color: @linkColorHover;
  }
  font: bold 13px/24px Abel, sans-serif;
}

#opac-main-search .mastheadsearch {
  label {
    display: none;
  }
  
  background: inherit;

  margin-right: 0px;
  padding-right: 0px;
  
  .nolibrarypulldown {
    width: inherit;
  }
}

a.btn {
  &, &:visited, &:hover {
    color: #535e70;
  } 
}

.btn-primary {
  background: @btnPrimaryBackground;
}

#login {
  display: none;
}

#opac-main-search .mastheadsearch .nolibrarypulldown {
    width: 60%;
}

.main {
    border-radius: 0px;
}

.social li {
    display: inline-block;
    margin-left: 7px;
    margin-right: 0px;
}

.label, .badge {
    background-color: transparent;
}
